<h1>Listing Users</h1>

<div><%= link_to 'New User', new_user_path,class: 'btn btn-md btn-success' %></div>


<br>
<div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        User Table
                        </header>
                    <div class="panel-body">
                    <div class="adv-table">
                    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>E-mail</th>
                <th>Position</th>
                <th>Action 1</th>
                <th>Action 2</th>
                <th>Action 3</th>
                
            </tr>
        </thead>
        <tbody>
            <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %>&nbsp;<%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.role.name %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

        </tbody>
    </table>

                    </div>
                    </div>
                </section>
            </div>
        </div>


        